/*--------------------------------------- Navbar*/
.teal{
    color: #00DDDD !important;
}

nav, .nav-size {
    font-size: 20px ;
    text-transform: uppercase;
}

.nav-item {
    margin:0 7px;
}

#nav-contact{
    margin-right: 20px;
}

.navbar-brand {
    margin-left: 25px;
}
/*--------------------------------------- Main*/

.bg-art {
    background-image:url("/assets/building_black-mirrored.jpg");
    background-size: 100% auto;
    padding: 20px;
    
}

.main {
    
    max-width: 1200px;
    background-color: rgba(255,255,255,0.6);
    margin: 0 auto;
    padding: 10px;
}

.section{
    margin: 1.5%;
}

.head {
    margin: 30px 30px;
    text-transform: uppercase;
    font-size: 35px;
}

hr {
    background-color: #000000;
    height: 3px;
}

/*--------------------------------------- Bio*/

.headshot{
    height:20%;
    width:20%;
    min-height: 85px;
    min-width: 85px;
    max-height:150px;
    max-width: 150px;    
    border-radius: 50%;
    float: left;
    margin: 30px 20px 10px 20px;
}


.bio-head {
    display: inline-block;
    vertical-align: bottom;
}


/*--------------------------------------- Works*/

.spot-link{
    max-width: 95%;
}

.spot-div {
    display: inline-block;
    width: 500px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    margin: 5px 5px;
    padding: 5px;
    max-width: 95%;
    background-color: rgba(255,255,255,0.4);
}


.work-box{
    align-content: center;
}
/*--------------------------------------- Tour*/

.tour-div{
    margin-left: 6%;
    margin-right: 6%;
    border: 2px solid rgba(0,0,0,0.5);
    background-color: rgba(255,255,255,0.4);
    font-size: 20px;
    margin-bottom: 8px;
}

.date{
    display: inline-block;
    font-weight: bold;   
    padding:15px 35px 10px 35px;
    border-right: 2px solid rgba(0,0,0,0.2)
}

.location {
    display: inline-block;
    margin-left: 2%;
}

.tickets{
    float: right;
    margin-right: 5%;
    margin-top: 30px;

}

button {
    background-color: white ;
    font-weight: bold;
    border-color: black;
    transition: 0.15s;
    
}

button:disabled,button[disabled]{
    background-color:#aaaaaa !important;
    color: #cccccc;
}
/*--------------------------------------- Contact*/

.c-form{
    border: 2px solid rgba(0,0,0,0.5);
    background-color: rgba(255,255,255,0.4);
    border-radius: 0%;
    margin: 5px 10%;
    width: 80%;

}

::placeholder {
    color:#555555!important;
}
/*--------------------------------------- Footer*/

footer {
    background-color: #525252;
    color: #AAAAAA;
    min-height: 75px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}



#footer-details {
    padding: 15px;
    font-size: 20px;
}


/*--------------------------------------- Interactive*/

button:hover {
    background-color: #cccccc;
}

.social-links li a i:hover {
    background: #00DDDD;
}

/*--------------------------------------- Media Queries*/

/* @media only screen and (max-width: 600px) {
  .section {
    margin: 0px;
  }
}